<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <form method="post">
        <h1>Вход</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        {% if user.is_authenticated %}
        <br/><br/>
        <button type="button" onclick="window.location.href='{% url 'home' %}'">Перейти на главную</button>
        {% endif %}
    </form>

</body>
</html>
